div1 {
    width: 300px;
    height: 100px;
    border: 1px solid blue;
}
body {
    background-color: lightblue;
    font-family: verdana;
    font-size: 20px;
    color: white;
    text-align: center;
}